@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('aos.css');

/* CSS Reset */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
html{font-size: 18px; scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; 
  color: #333}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block;}
img{border: 0; vertical-align: top}

#skipNav{position:relative; width:100%; overflow:hidden; z-index: 110; font-family: 'Noto Sans KR', sans-serif;}
#skipNav a{display:block; height:1px; margin-bottom:-1px; overflow:hidden; text-align:center; color:#fff; font-size:1.2em; font-weight: 700;}
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{display:block; height:auto;padding:15px 0; background: rgba(237, 139, 0, 1);}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.hidden{display: block; position: absolute; left: -1000%; width: 1px; height: 1px; overflow: hidden; color: #fff}


/* wrap */
.wrap{width: 100%; overflow: hidden;}

/* 헤더공통css */
#headerArea{width: 100%; position: fixed; left: 0; top: 0; z-index: 100; background: rgba(255, 255, 255, .5);}
#headerArea .header_inner{width: 1200px; height: 100px; margin: 0 auto; position: relative;}
#headerArea .logo{width: 123px; float: left; padding: 15px 80px 25px 0;}
#headerArea .logo a{display: block; width: 120px; height: 60px; text-indent: -999px; overflow: hidden; background: url(../images/logo.png); }



#headerSearch{position: fixed; left: 0; top: 0; width: 100%; background: #fff; box-shadow: 0 5px 20px rgba(0, 0, 0, .15); height: 300px; z-index: 200; display: none;}
#headerSearch .inner{width: 720px; height: 250px; margin: 0 auto;}
#headerSearch .inner p{font-size: 30px; font-weight: 700; padding: 50px 0 0;}
#headerSearch .inner .serch_box{border-bottom: 2px solid #333; margin: 30px 0 0; overflow: hidden;}
#headerSearch .inner .serch_box label{display: none; position: absolute; left: -1000%; width: 1px; height: 1px; overflow: hidden; color: #fff;}
#headerSearch .inner .serch_box input{width: 650px; height: 50px; line-height: 65px; border: 0 none; color: #999; font-size: 20px; font-weight: 700; outline: none;}
#headerSearch .inner .serch_box button{border: 0 none; font-size: 20px; background-color: #fff;}
#headerSearch .inner .serch_box button i{font-weight: 700;}
#headerSearch .inner dl{margin: 40px 0 0; line-height: 40px;}
#headerSearch .inner dt{float: left; color: #ed8b00; font-size: 20px; font-weight: 700;}
#headerSearch .inner dd{padding-left: 120px; display: inline-block;}
#headerSearch .inner dd a{padding: 0 20px; background: rgba(0, 0, 0, .05); border-radius: 500px; margin: 0 15px 15px 0; float: left; transition: all .3s;}
#headerSearch .inner .closeBtn{position: absolute; top: 50px; right: 450px; display: block; width: 32px; height: 32px; padding: 10px; color: #333;}
#headerSearch .inner .closeBtn i{font-size: 2em; transition: all .5s;}







#gnb{float: left; width:800px;} 
#gnb ul.dropdownmenu{float:left; width: 100%; height: 100%;}
#gnb ul.dropdownmenu li.menu{position:relative; float:left; width:16.66%; height: 50px;}
#gnb ul.dropdownmenu li a.depth1{display:block; padding: 34px 0; text-align: center; transition: all .5s; font-size: 1.250em; font-weight: 700; text-transform: uppercase;}
	
/* 2depth */
#gnb ul.dropdownmenu li ul{width:100%; height:170px; position:absolute; top:100px;left:0; line-height:2em; display:none;}
#gnb ul.dropdownmenu li ul li{ text-align:center; font-weight: 500;}
#gnb ul.dropdownmenu li ul li a{display:block; color:#666; transition: all .5s;}
#gnb ul.dropdownmenu li ul li a:hover{color:#fff; background: #ed8b00; border-radius: 5px; }

/* #headerArea #gnb{float: left; padding: 9px 0;}
#headerArea #gnb ul{overflow: hidden;}
#headerArea #gnb li{float: left; margin-right: 50px; float: left;}
#headerArea #gnb li:last-child{margin-right: 0;}
#headerArea #gnb li a{display: block; font-size: 1.250em; font-weight: 700; text-transform: uppercase; padding: 25px 0;} */

#headerArea .top_menu{overflow: hidden; position: absolute; right: 0px; top: 42px;}
#headerArea .top_menu li{float: left; margin-right: 20px;}
#headerArea .top_menu li:last-child{margin-right: 0;}
#headerArea .top_menu li a{color: #666; font-size: 1.000em; display: block;}

/* 푸터공통css */
#footerArea{ width: 100%; height: 250px; position: relative; background: #f5f5f5;}
#footerArea::before{content: ""; display: block; height: 1px; width: 100%;
      background: #ccc; position: absolute; top:120px; left:0}
#footerArea .footer_inner{width: 1200px; margin: 0 auto;  position: relative;}
#footerArea .footer_topbox{ height: 120px;}
#footerArea .footer_logo{width: 123px; padding: 20px; float: left; margin-right: 100px;}
#footerArea .bottom_menu{float: left; width: 500px; font-weight: 500; margin: 60px 0 60px 0;}
#footerArea .bottom_menu a{display: block; float: left; margin-right: 50px;}
/* #footerArea .family{width: 180px; height: 20px; background: #fff; margin: 50px 50px 0 0; float: right; padding: 10px; font-size: 1em; line-height: 1.2em; box-shadow: 1px 1px 5px .5px #ccc;}
#footerArea .family i{color: #666; font-size: 1.111em; padding-left: 65px;} */

#footerArea .family{width: 180px; height: 20px; background: #fff; margin: 50px 50px 0 0; float: right; padding: 10px; font-size: 1em; line-height: 1.2em; box-shadow: 1px 1px 5px .5px #ccc; }
#footerArea .family .arrow{display:block; }
#footerArea .family .arrow:hover{color:#666}
#footerArea .family i{color: #666; font-size: 1.111em; padding-left: 65px;}
#footerArea .family .aList{position:absolute; top:-325px; right:50px; width:200px; background: #fff; display:none;}
#footerArea .family .aList li{line-height:1.5em; text-align: center;}
#footerArea .family .aList li a{display:block; transition: all .3s;  box-sizing: content-box; padding: 10px 0;}
#footerArea .family .aList li a:hover{background:#ed8b00; color:#fff;}

/* .family .arrow{ display:block; font-size:1em;padding:3px 0 0 20px;}
.family .arrow:hover{color:#666}
.family .aList{ position:absolute; top:25px; left:-1px; width:150px; border:1px solid #ccc; display:none}
.family .aList li{ line-height:1.5em; border-bottom:1px solid #ccc;}
.family .aList li a{display:block;padding-left:20px}
.family .aList li a:hover{ background:#F0F0F0; color:#666} */


#footerArea address{clear: both; margin-left: 230px;}
#footerArea address p{float: left; margin: 0 50px 5px 0;}
#footerArea .copy{clear: both; margin-left: 230px;}
#footerArea .sns{position: absolute; right: 0; top: 150px; width: 240px;}
#footerArea .sns a{display: block; overflow: hidden; float: left; margin-right: 20px;}
#footerArea .sns i{color:#666; font-size: 1.667em;}


#footerArea .top_move{width: 70px; height: 70px; background: #ed8b00;
  color: #333; border-radius: 50%; font-size: 1em; overflow: hidden;
  transition: all 1s ease-in-out; position: fixed; left: 92%; bottom: 100px;z-index: 90; display: none;}
#footerArea .top_move:hover{color: #fff;}
#footerArea .top_move span{display: block; text-align: center; margin-top: 20px;}

.text{position: fixed; right:0; top: 0;
  font-size: 50px; z-index: 100}