/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}
	
#content{ width:100%; margin:0; height:auto; background:rgba(0,0,0,.9); position: relative;}
img{width: 100%; height: 100%; object-fit: cover;}
#content h2{position: absolute; top: -550px;
width: 100%; text-align: center; font-size: 8.333em; color: #fff;}
#content h3{font-size: 2.778em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 2.778em; font-weight: 700;} 


.about{
   width: 100%;
   height: auto;
   position: relative;
   width: 100%;
}
.about ul{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(4, 1fr);
   grid-auto-rows: 650px;
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a b b'
   'c c d d';
}
.about li{
   line-height: normal;
   overflow: hidden;
}
.about li:nth-of-type(1){
   grid-area: a;
   box-sizing: border-box;
   padding: 100px 50px 100px 50px;
   background: #fff;
}
.about li:nth-of-type(1) h3{
   padding-bottom: 30px;
}
.about li:nth-of-type(1) p{
   font-size: 1.111em;
   text-align: justify;
}
.about li:nth-of-type(1) p:nth-of-type(1){
   padding-bottom: 30px;
}
.about li:nth-of-type(1) p:nth-of-type(3){
   display: none;
}
.about li:nth-of-type(2){
   grid-area: b;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   background: #fff;
}
.about li:nth-of-type(2) span{
   display: block;
   float: left;
}
.about li:nth-of-type(2) span:nth-of-type(1){
   width: 30%;
}
.about li:nth-of-type(2) span:nth-of-type(2){
   width: 45%;
}
.about li:nth-of-type(3){
   grid-area: c;
}
.about li:nth-of-type(4){
   grid-area: d;
   padding: 50px 50px 100px 50px;
}
.about li:nth-of-type(4) h4{
   color: #fff;
   padding-bottom: 30px;
}
.about li:nth-of-type(4) p{
   color: #fff;
   font-size: 1.111em;
   text-align: justify;
}
.about li:nth-of-type(4) p:nth-of-type(1){
   padding-bottom: 30px;
}
.original{
   background: #fffdf5;
   width: 100%;
   /* padding: 100px 150px; */
   box-sizing: border-box;
}
.original_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(3, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   align-items: baseline;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a a'
   'b b b'
   'c d d';
}
.original_con>div:nth-of-type(1){
   grid-area: a;
   width: 100%;
   text-align: center;
   padding: 100px 150px 0 150px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(1) h3{
   padding-bottom: 30px;
}
.original_con>div:nth-of-type(1) p{
   font-size: 1.111em;
   padding-bottom: 50px;
}
.original_con>div:nth-of-type(2){
   grid-area: b;
   width: 100%;
   display: block;
   position: relative;
   margin: 0 auto;
}
.original_con .swiper-container{
   width: 80%;
   position: static;
}
.original_con .swiper-wrapper{
   width: 80%;
   align-items: center;
}
.original_con .swiper-slide{
   width: 3.3%;
   border: 1px solid #ccc;
   box-sizing: border-box;
}
#content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   right: 60px;
   left: auto;
}
#content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   left: 60px;
   right: auto;
}
.swiper-button-next, .swiper-button-prev{
   --swiper-navigation-size: 60px;
   --swiper-theme-color: #333;
   font-weight: 600;
}
#content .swiper-container-horizontal>.swiper-scrollbar {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: -3px;
   z-index: 50;
   height: 5px;
   width: 80%;
}
#content .swiper-scrollbar-drag {
   height: 100%;
   width:3.3%;
   position: relative;
   background: #b34142;
   border-radius: 10px;
   left: 0;
   top: 0;
}
.original_con>div:nth-of-type(3){
   grid-area: c;
   padding-top: 50px;
   width: 100%;
   height: 100%;
   padding: 50px 0 100px 150px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(3) span{
   width: 100%;
}
.original_con>div:nth-of-type(3) span>img{
   object-fit: contain;
}
.original_con>div:nth-of-type(4){
   grid-area: d;
   padding: 50px 150px 100px 50px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(4) h4{
   padding-bottom: 30px;
}
.original_con>div:nth-of-type(4) p{
   font-size: 1.111em;
   text-align: justify;
}
.original_con>div:nth-of-type(5){
   top: 48%;
}
.original_con>div:nth-of-type(6){
   top: 48%;
}
.crew{
   width: 100%;
   overflow: hidden;
}
.crew_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(3, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   overflow: hidden;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'b b a'
   'c d e'
   'c d e';
}
.crew_con li{
   overflow: hidden;
}
.crew_con li:nth-of-type(1){
   width: 100%;
   grid-area: a;
   padding: 100px 100px 100px 0;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(1) h3{
   text-align: right;
   color: #fff;
}
.crew_con li:nth-of-type(1)>dl{
   width: 100%;
   overflow: hidden;
   color: #fff;
   text-align: right;
}
.crew_con li:nth-of-type(1)>dl dt{
   font-size: 1.667em;
   font-weight: 700;
   padding: 30px 0;
   width: 100%;
   line-height: 0;
}
.crew_con li:nth-of-type(1)>dl dd{
   font-size: 1.111em;
   width: 100%;
}
.crew_con li:nth-of-type(2){
   width: 100%;
   grid-area: b;
   padding: 100px 100px 100px 100px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(2) p{
   font-size: 1.111em;
   color: #fff;
   text-align: justify;
}
.crew_con li:nth-of-type(2) p:nth-of-type(1){
   padding-bottom: 30px;
}
.crew_con li:nth-of-type(3){
   grid-area: c;
}
.crew_con li:nth-of-type(4){
   grid-area: d;
}
.crew_con li:nth-of-type(5){
   grid-area: e;
}
.crew_con li:nth-of-type(3), .crew_con li:nth-of-type(4), .crew_con li:nth-of-type(5){
   width: 100%;
   color: #fff;
   text-align: center;
   padding: 100px 0;
}
.crew_con li:nth-of-type(3)>dl, .crew_con li:nth-of-type(4)>dl, .crew_con li:nth-of-type(5)>dl{
   width: 100%;
   overflow: hidden;
   padding-bottom: 30px;
}
.crew_con li:nth-of-type(3)> dl dt, .crew_con li:nth-of-type(4)> dl dt, .crew_con li:nth-of-type(5)> dl dt{
   font-size: 1em;
   font-weight: 300;
   padding-bottom: 5px;
}
.crew_con li:nth-of-type(3)> dl dd, .crew_con li:nth-of-type(4)>dl dd, .crew_con li:nth-of-type(5)> dl dd{
   font-size: 1.111em;
}
.crew_con li:nth-of-type(5)> dl:last-child dd{
   width: 40%;
   margin: 0 auto;
   padding: 10px 0;
}


/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {
html{font-size: 16px;}
#content h2{position: absolute; top: -550px;
   width: 100%; text-align: center; font-size: 6.944em; color: #fff;}
#content h3{font-size: 2.222em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 2.222em; font-weight: 700;}

.about{
   width: 100%;
   height: auto;
   position: relative;
   box-sizing: border-box;
   padding: 80px 100px;
   background: #fff;
}
.about ul{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-template-rows: 330px 100px; */
   grid-auto-rows: unset;
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   align-items:unset;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a c'
   'd d';
}
.about li{
   line-height: normal;
   overflow: hidden;
}
.about li:nth-of-type(1){
   grid-area: a;
   box-sizing: border-box;
   padding: 0 50px 0 0;
   background: none;
}
.about li:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.about li:nth-of-type(1) p{
   display: none;
}
.about li:nth-of-type(1) p:nth-of-type(3){
   padding-bottom: 0px;
   display: block;
   font-size: 1em;
}
.about li:nth-of-type(2){
   grid-area: b;
   display: none;
}
.about li:nth-of-type(3){
   grid-area: c;
   width: 100%;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(3)>span{
}
.about li:nth-of-type(3)>span img{
   object-fit: cover;
   object-position: center;
}
.about li:nth-of-type(4){
   grid-area: d;
   padding: 0;
   background: none;
}
.about li:nth-of-type(4) h4{
   display: none;
}
.about li:nth-of-type(4) p{
   color: #333;
   font-size: 1em;
   text-align: justify;
   padding-top: 20px;
}
.about li:nth-of-type(4) p:nth-of-type(1){
   display: none;
}
.original{
   background: #fffdf5;
   width: 100%;
   /* padding: 100px 150px; */
   box-sizing: border-box;
}
.original_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   align-items: baseline;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'd d';
}
.original_con>div:nth-of-type(1){
   grid-area: a;
   width: 100%;
   text-align: center;
   padding: 80px 100px 0 100px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(1) p{
   font-size: 1em;
   padding-bottom: 50px;
}
#content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   right: 40px;
   left: auto;
}
#content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   left: 40px;
   right: auto;
}
.swiper-button-next, .swiper-button-prev{
   --swiper-navigation-size: 40px;
}
.original_con>div:nth-of-type(3){
   grid-area: c;
   display: none;
}
.original_con>div:nth-of-type(3) span{
   display: block;
   width: 100%;
}
.original_con>div:nth-of-type(4){
   grid-area: d;
   padding: 50px 100px 80px 100px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(4) h4{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(4) p{
   font-size: 1em;
   text-align: justify;
}
.original_con>div:nth-of-type(5){
   top: 48%;
}
.original_con>div:nth-of-type(6){
   top: 48%;
}
.crew{
   width: 100%;
   overflow: hidden;
}
.crew_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   overflow: hidden;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'c e'
   'c e';
}
.crew_con li{
   overflow: hidden;
}
.crew_con li:nth-of-type(1){
   width: 100%;
   grid-area: a;
   padding: 80px 50px 0px 50px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(1) h3{
   text-align: center;
   color: #fff;
   width: 30%;
   float: right;
}
.crew_con li:nth-of-type(1)>dl{
   width: 70%;
   overflow: hidden;
   color: #fff;
   text-align: center;
}
.crew_con li:nth-of-type(1)>dl dt{
   font-size: 1.667em;
   font-weight: 700;
   padding: 20px 0;
   width: 50%;
   line-height: 0;
   float: right;
}
.crew_con li:nth-of-type(1)>dl dd{
   font-size: 1.111em;
   width: 50%;
}
.crew_con li:nth-of-type(2){
   width: 100%;
   grid-area: b;
   padding: 50px 50px 80px 50px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(2) p{
   font-size: 1em;
   color: #fff;
   text-align: justify;
}
.crew_con li:nth-of-type(2) p:nth-of-type(1){
   padding-bottom: 30px;
   display: none;
}
.crew_con li:nth-of-type(3){
   grid-area: c;
}
.crew_con li:nth-of-type(4){
   grid-area: d;
   display: none;
}
.crew_con li:nth-of-type(5){
   grid-area: e;
}
.crew_con li:nth-of-type(3), .crew_con li:nth-of-type(4), .crew_con li:nth-of-type(5){
   padding: 80px 0;
}
.crew_con li:nth-of-type(3)>dl, .crew_con li:nth-of-type(4)>dl, .crew_con li:nth-of-type(5)>dl{
   padding-bottom: 20px;
}
.crew_con li:nth-of-type(3)> dl dt, .crew_con li:nth-of-type(4)> dl dt, .crew_con li:nth-of-type(5)> dl dt{
   font-size: 0.889em;
}
.crew_con li:nth-of-type(3)> dl dd, .crew_con li:nth-of-type(4)>dl dd, .crew_con li:nth-of-type(5)> dl dd{
   font-size: 1em;
}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

html{font-size: 16px;}

#content h3{font-size: 2.222em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 2.222em; font-weight: 700;}

.about{
   width: 100%;
   height: auto;
   position: relative;
   box-sizing: border-box;
   padding: 80px 65px;
   background: #fff;
}
.about ul{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   grid-template-rows: unset;
   grid-auto-rows: unset;
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a c'
   'd d';
}
.about li{
   line-height: normal;
   overflow: hidden;
}
.about li:nth-of-type(1){
   grid-area: a;
   box-sizing: border-box;
   padding: 0 50px 0 0;
   background: none;
}
.about li:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.about li:nth-of-type(1) p{
   display: none;
}
.about li:nth-of-type(1) p:nth-of-type(3){
   padding-bottom: 0px;
   display: block;
   font-size: 1em;
}
.about li:nth-of-type(2){
   grid-area: b;
   display: none;
}
.about li:nth-of-type(3){
   grid-area: c;
   width: 100%;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(3)>span{
   overflow: hidden;
}
.about li:nth-of-type(3)>span img{
   object-fit: cover;
}
.about li:nth-of-type(4){
   grid-area: d;
   padding: 0;
   background: none;
   padding-top: 20px;
}
.about li:nth-of-type(4) h4{
   display: none;
}
.about li:nth-of-type(4) p{
   color: #333;
   font-size: 1em;
   text-align: justify;
}
.about li:nth-of-type(4) p:nth-of-type(1){
   display: none;
}
.original{
   background: #fffdf5;
   width: 100%;
   /* padding: 100px 150px; */
   box-sizing: border-box;
}
.original_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   align-items: baseline;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'd d';
}
.original_con>div:nth-of-type(1){
   grid-area: a;
   width: 100%;
   text-align: center;
   padding: 65px 80px 0 80px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(1) p{
   font-size: 1em;
   padding-bottom: 50px;
}
#content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   right: 30px;
   left: auto;
}
#content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   left: 30px;
   right: auto;
}
.swiper-button-next, .swiper-button-prev{
   --swiper-navigation-size: 30px;
}
.original_con>div:nth-of-type(3){
   grid-area: c;
   display: none;
}
.original_con>div:nth-of-type(3) span{
   display: block;
   width: 100%;
}
.original_con>div:nth-of-type(4){
   grid-area: d;
   padding: 50px 80px 65px 80px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(4) h4{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(4) p{
   font-size: 1em;
   text-align: justify;
}
.original_con>div:nth-of-type(5){
   top: 48%;
}
.original_con>div:nth-of-type(6){
   top: 48%;
}
.crew{
   width: 100%;
   overflow: hidden;
}
.crew_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   overflow: hidden;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'c e'
   'c e';
}
.crew_con li{
   overflow: hidden;
}
.crew_con li:nth-of-type(1){
   width: 100%;
   grid-area: a;
   padding: 65px 30px 0 30px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(1) h3{
   text-align: center;
   color: #fff;
   width: 30%;
   float: right;
}
.crew_con li:nth-of-type(1)>dl{
   width: 70%;
   overflow: hidden;
   color: #fff;
   text-align: center;
}
.crew_con li:nth-of-type(1)>dl dt{
   font-size: 1.667em;
   font-weight: 700;
   padding: 20px 0;
   width: 50%;
   line-height: 0;
   float: right;
}
.crew_con li:nth-of-type(1)>dl dd{
   font-size: 1.111em;
   width: 50%;
}
.crew_con li:nth-of-type(2){
   width: 100%;
   grid-area: b;
   padding: 50px 40px 65px 40px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(2) p{
   font-size: 1em;
   color: #fff;
   text-align: justify;
}
.crew_con li:nth-of-type(2) p:nth-of-type(1){
   padding-bottom: 30px;
   display: none;
}
.crew_con li:nth-of-type(3){
   grid-area: c;
}
.crew_con li:nth-of-type(4){
   grid-area: d;
   display: none;
}
.crew_con li:nth-of-type(5){
   grid-area: e;
}
.crew_con li:nth-of-type(3), .crew_con li:nth-of-type(4), .crew_con li:nth-of-type(5){
   padding: 65px 0;
}
.crew_con li:nth-of-type(3)>dl, .crew_con li:nth-of-type(4)>dl, .crew_con li:nth-of-type(5)>dl{
   padding-bottom: 20px;
}
.crew_con li:nth-of-type(3)> dl dt, .crew_con li:nth-of-type(4)> dl dt, .crew_con li:nth-of-type(5)> dl dt{
   font-size: 0.889em;
}
.crew_con li:nth-of-type(3)> dl dd, .crew_con li:nth-of-type(4)>dl dd, .crew_con li:nth-of-type(5)> dl dd{
   font-size: 1em;
}
}

/* 모바일 */
@media screen and (max-width:640px) {

html{font-size: 16px;}

#content h3{font-size: 2.500em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 1.875em; font-weight: 700;}

.about{
   width: 100%;
   height: auto;
   position: relative;
   box-sizing: border-box;
   padding: 50px 80px;
   background: #fff;
}
.about ul{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(1, 1fr);
   grid-template-rows: none;
   grid-auto-rows:unset;
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   align-items: center;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a'
   'c';
}
.about li{
   line-height: normal;
   overflow: hidden;
}
.about li:nth-of-type(1){
   grid-area: a;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.about li:nth-of-type(1) p{
   display: none;
}
.about li:nth-of-type(1) p:nth-of-type(3){
   padding-bottom: 20px;
   display: block;
   font-size: 1em;
}
.about li:nth-of-type(2){
   grid-area: b;
   display: none;
}
.about li:nth-of-type(3){
   grid-area: c;
   width: 100%;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(3)>span{
   display: block;
   width: 100%;
}
.about li:nth-of-type(4){
   grid-area: d;
   padding: 0;
   background: none;
   display: none;
}
.about li:nth-of-type(4) h4{
   display: none;
}
.about li:nth-of-type(4) p{
   color: #333;
   font-size: 1em;
   text-align: justify;
}
.about li:nth-of-type(4) p:nth-of-type(1){
   display: none;
}
.original{
   background: #fffdf5;
   width: 100%;
   /* padding: 100px 150px; */
   box-sizing: border-box;
}
.original_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(1, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   align-items: baseline;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a'
   'b'
   'd';
}
.original_con>div:nth-of-type(1){
   grid-area: a;
   width: 100%;
   text-align: center;
   padding: 50px 80px 0 80px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(1) p{
   font-size: 1em;
   padding-bottom: 30px;
}
.original_con>div:nth-of-type(2){
   grid-area: b;
   width: 100%;
   display: block;
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
#content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   right: 25px;
   left: auto;
}
#content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   left: 25px;
   right: auto;
}
.swiper-button-next, .swiper-button-prev{
   --swiper-navigation-size: 30px;
   --swiper-theme-color: #333;
   font-weight: 600;
}
#content .swiper-container-horizontal>.swiper-scrollbar {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: -3px;
   z-index: 50;
   height: 5px;
   width: 80%;
}
#content .swiper-scrollbar-drag {
   height: 100%;
   width:3.3%;
   position: relative;
   background: #b34142;
   border-radius: 10px;
   left: 0;
   top: 0;
}
.original_con>div:nth-of-type(3){
   grid-area: c;
   display: none;
}
.original_con>div:nth-of-type(3) span{
   display: block;
   width: 100%;
}
.original_con>div:nth-of-type(4){
   grid-area: d;
   padding: 30px 80px 50px 80px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(4) h4{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(4) p{
   font-size: 1em;
   text-align: justify;
}
.original_con>div:nth-of-type(5){
   top: 48%;
}
.original_con>div:nth-of-type(6){
   top: 48%;
}
.crew{
   width: 100%;
   overflow: hidden;
}
.crew_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(1, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   overflow: hidden;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'e e'
   'e e';
}
.crew_con li{
   overflow: hidden;
}
.crew_con li:nth-of-type(1){
   width: 100%;
   grid-area: a;
   padding: 65px 30px 0 30px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(1) h3{
   text-align: center;
   color: #fff;
   width: 30%;
   float: right;
   line-height: 1em;
}
.crew_con li:nth-of-type(1)>dl{
   width: 70%;
   overflow: hidden;
   color: #fff;
   text-align: center;
}
.crew_con li:nth-of-type(1)>dl dt{
   font-size: 1.250em;
   font-weight: 700;
   padding: 20px 0;
   width: 50%;
   line-height: 0;
   float: right;
}
.crew_con li:nth-of-type(1)>dl dd{
   font-size: 1em;
   width: 50%;
}
.crew_con li:nth-of-type(2){
   width: 100%;
   grid-area: b;
   padding: 50px 40px 50px 40px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(2) p{
   font-size: 1em;
   color: #fff;
   text-align: justify;
}
.crew_con li:nth-of-type(2) p:nth-of-type(1){
   padding-bottom: 30px;
   display: none;
}
.crew_con li:nth-of-type(3){
   grid-area: c;
   display: none;
}
.crew_con li:nth-of-type(4){
   grid-area: d;
   display: none;
}
.crew_con li:nth-of-type(5){
   grid-area: e;
}
.crew_con li:nth-of-type(3), .crew_con li:nth-of-type(4), .crew_con li:nth-of-type(5){
   padding: 50px 0;
}
.crew_con li:nth-of-type(3)>dl, .crew_con li:nth-of-type(4)>dl, .crew_con li:nth-of-type(5)>dl{
   padding-bottom: 20px;
}
.crew_con li:nth-of-type(3)> dl dt, .crew_con li:nth-of-type(4)> dl dt, .crew_con li:nth-of-type(5)> dl dt{
   font-size: 0.875em;
}
.crew_con li:nth-of-type(3)> dl dd, .crew_con li:nth-of-type(4)>dl dd, .crew_con li:nth-of-type(5)> dl dd{
   font-size: 1em;
}
.crew_con li:nth-of-type(5)> dl:last-child dd {
   width: 30%;
   margin: 0 auto;
   padding: 10px 0;
}
}

/* 모바일 */
@media screen and (max-width:480px) {

html{font-size: 14px;}

#content h3{font-size: 2.500em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 1.875em; font-weight: 700;}

.about{
   width: 100%;
   height: auto;
   position: relative;
   box-sizing: border-box;
   padding: 50px 20px;
   background: #fff;
}
.about ul{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(1, 1fr);
   grid-template-rows: none;
   grid-auto-rows:unset;
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   align-items: center;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a'
   'c';
}
.about li{
   line-height: normal;
   overflow: hidden;
}
.about li:nth-of-type(1){
   grid-area: a;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.about li:nth-of-type(1) p{
   display: none;
}
.about li:nth-of-type(1) p:nth-of-type(3){
   padding-bottom: 20px;
   display: block;
   font-size: 1em;
}
.about li:nth-of-type(2){
   grid-area: b;
   display: none;
}
.about li:nth-of-type(3){
   grid-area: c;
   width: 100%;
   box-sizing: border-box;
   padding: 0;
   background: none;
}
.about li:nth-of-type(3)>span{
   display: block;
   width: 100%;
}
.about li:nth-of-type(4){
   grid-area: d;
   padding: 0;
   background: none;
   display: none;
}
.about li:nth-of-type(4) h4{
   display: none;
}
.about li:nth-of-type(4) p{
   color: #333;
   font-size: 1em;
   text-align: justify;
}
.about li:nth-of-type(4) p:nth-of-type(1){
   display: none;
}
.original{
   background: #fffdf5;
   width: 100%;
   /* padding: 100px 150px; */
   box-sizing: border-box;
}
.original_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(1, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   align-items: baseline;
   box-sizing: border-box;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a'
   'b'
   'd';
}
.original_con>div:nth-of-type(1){
   grid-area: a;
   width: 100%;
   text-align: center;
   padding: 50px 20px 0 20px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(1) h3{
   padding-bottom: 20px;
}
.original_con>div:nth-of-type(1) p{
   font-size: 1em;
   padding-bottom: 30px;
   text-align: justify;
}
.original_con>div:nth-of-type(2){
   grid-area: b;
   width: 100%;
   display: block;
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
#content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   right: 20px;
   left: auto;
}
#content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   left: 20px;
   right: auto;
}
.swiper-button-next, .swiper-button-prev{
   --swiper-navigation-size: 20px;
   --swiper-theme-color: #333;
   font-weight: 600;
}
#content .swiper-container-horizontal>.swiper-scrollbar {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: -3px;
   z-index: 50;
   height: 5px;
   width: 80%;
}
#content .swiper-scrollbar-drag {
   height: 100%;
   width:3.3%;
   position: relative;
   background: #b34142;
   border-radius: 10px;
   left: 0;
   top: 0;
}
.original_con>div:nth-of-type(3){
   grid-area: c;
   display: none;
}
.original_con>div:nth-of-type(3) span{
   display: block;
   width: 100%;
}
.original_con>div:nth-of-type(4){
   grid-area: d;
   padding: 30px 20px 50px 20px;
   box-sizing: border-box;
}
.original_con>div:nth-of-type(4) h4{
   padding-bottom: 10px;
}
.original_con>div:nth-of-type(4) p{
   font-size: 1em;
   text-align: justify;
}
.original_con>div:nth-of-type(5){
   top: 48%;
}
.original_con>div:nth-of-type(6){
   top: 48%;
}
.crew{
   width: 100%;
   overflow: hidden;
}
.crew_con{
   margin: 0 auto;
   display: grid;
   grid-template-columns:  repeat(2, 1fr);
   /* grid-auto-rows: 650px; */
   /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
   grid-gap: 0px;
   box-sizing: border-box;
   overflow: hidden;
   /* 갭은 픽셀로 주는게 좋다고 함 */

   grid-template-areas: 
   'a a'
   'b b'
   'e e'
   'e e';
}
.crew_con li{
   overflow: hidden;
}
.crew_con li:nth-of-type(1){
   width: 100%;
   grid-area: a;
   padding: 50px 20px 0px 10px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(1) h3{
   text-align: center;
   color: #fff;
   width: 30%;
   float: right;
   line-height: 1em;
}
.crew_con li:nth-of-type(1)>dl{
   width: 70%;
   overflow: hidden;
   color: #fff;
   text-align: center;
}
.crew_con li:nth-of-type(1)>dl dt{
   font-size: 1.429em;
   font-weight: 700;
   padding: 10px 0 10px 0;
   width: 100%;
   line-height: 0;
   float: right;
}
.crew_con li:nth-of-type(1)>dl dd{
   font-size: 1em;
   width: 100%;
   clear: both;
   
}
.crew_con li:nth-of-type(2){
   width: 100%;
   grid-area: b;
   padding: 50px 10px 50px 20px;
   box-sizing: border-box;
   background: #000;
}
.crew_con li:nth-of-type(2) p{
   font-size: 1em;
   color: #fff;
   text-align: justify;
}
.crew_con li:nth-of-type(2) p:nth-of-type(1){
   padding-bottom: 30px;
   display: none;
}
.crew_con li:nth-of-type(3){
   grid-area: c;
   display: none;
}
.crew_con li:nth-of-type(4){
   grid-area: d;
   display: none;
}
.crew_con li:nth-of-type(5){
   grid-area: e;
}
.crew_con li:nth-of-type(3), .crew_con li:nth-of-type(4), .crew_con li:nth-of-type(5){
   padding: 50px 0;
}
.crew_con li:nth-of-type(3)>dl, .crew_con li:nth-of-type(4)>dl, .crew_con li:nth-of-type(5)>dl{
   padding-bottom: 20px;
}
.crew_con li:nth-of-type(3)> dl dt, .crew_con li:nth-of-type(4)> dl dt, .crew_con li:nth-of-type(5)> dl dt{
   font-size: 0.875em;
}
.crew_con li:nth-of-type(3)> dl dd, .crew_con li:nth-of-type(4)>dl dd, .crew_con li:nth-of-type(5)> dl dd{
   font-size: 1em;
}
.crew_con li:nth-of-type(5)> dl:last-child dd {
   width: 30%;
   margin: 0 auto;
   padding: 10px 0;
}
}