/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}


#content{ width:100%; margin:0; height:auto; background:rgba(0,0,0,.9); position: relative;}
img{width: 100%; height: 100%; object-fit: cover;}
#content h2{position: absolute; top: -550px;
width: 100%; text-align: center; font-size: 8.333em; color: #fff;}
#content h3{font-size: 2.778em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 2.778em; font-weight: 700;} 


.trailer{
    padding: 100px 0;
}
.trailer .subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 6.250vw;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff;
}

.trailer .subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    height: 5px;
    transform: translate(-50%);
    background: #b34142;
}

.trailer .clip_part {
}

.trailer .clip_part .contentArea {
    position: relative;
    width: 80%;
    margin: 30px auto
}

.trailer .imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.trailer .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.trailer .clip_part .contentArea dl {
    color: #fff;
    text-align: center;

}
.trailer .clip_part .contentArea dt {
    color: #fff;
    font-size: 4.444em;
    font-family: 'Anton', sans-serif;
}
.trailer .clip_part .contentArea dd {
    color: #fff;
    font-size: 2.778em;
}
.trailer .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.trailer .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}

.trailer .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.member{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    /* grid-template-columns: 39.47% 18.80% 20.68% 20.80%; */
    /* grid-template-columns: 40.6% 18.80% 40.6%; */
    /* grid-auto-rows: 400px; */
    /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
    grid-gap: 0px;
    box-sizing: border-box;
    /* padding: 100px 0; */
    /* 갭은 픽셀로 주는게 좋다고 함 */

    grid-template-areas:
    'a a'
    'b b'
    'c c'
    'd d'
    'e e';
}
.member .clip_part {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 0;
}
.member .clip_part:nth-of-type(1) {
    grid-area: a;
}
.member .clip_part:nth-child(1)::before{
    content: '';
    width: 200%;
    height: 100%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part:nth-of-type(2) {
    grid-area: b;
}
.member .clip_part:nth-of-type(3) {
    grid-area: c;
}
.member .clip_part:nth-child(3)::before{
    content: '';
    width: 200%;
    height: 100%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(-5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part:nth-of-type(4) {
    grid-area: d;
}
.member .clip_part:nth-of-type(5) {
    grid-area: e;
}
.member .clip_part:nth-child(5)::before{
    content: '';
    width: 200%;
    height: 100%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part .contentArea {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 5;
}
.member .clip_part:nth-child(odd) .contentArea {
    flex-direction: row;
}
.member .clip_part:nth-child(even) .contentArea {
    flex-direction: row-reverse;
}
.member .clip_part .imgPart {
    position: relative;
    cursor: pointer;
    width: 50%;
}
.member .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}
.member .clip_part .contentArea dl {
    width: 60%;
    color: #000;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.member .clip_part .contentArea dt {
    font-size: 5.556em;
    line-height: 1em;
}
.member .clip_part .contentArea dd {
    font-size: 4.444em;
}
.member .clip_part .contentArea dd:nth-of-type(n+2) {
    font-size: 1.667em;
    font-family: 'Karla', sans-serif;
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    font-weight: 500;
}
.member .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}
.member .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}
.member .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}


@media screen and (max-width:1024px) {

html{font-size: 16px;}

#content h2{position: absolute; top: -550px;
    width: 100%; text-align: center; font-size: 6.944em; color: #fff;}

.trailer{
    padding: 80px 0;
}
.trailer .subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 4.444em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff;
}

.trailer .subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    height: 5px;
    transform: translate(-50%);
    background: #b34142;
}

.trailer .clip_part {
}

.trailer .clip_part .contentArea {
    position: relative;
    width: 80%;
    margin: 30px auto
}

.trailer .imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.trailer .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.trailer .clip_part .contentArea dl {
    color: #fff;
    text-align: center;

}
.trailer .clip_part .contentArea dt {
    color: #fff;
    font-size: 3.333em;
    font-family: 'Anton', sans-serif;
}
.trailer .clip_part .contentArea dd {
    color: #fff;
    font-size: 1.667em;
}

.trailer .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.trailer .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}

.trailer .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.member{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    /* grid-template-columns: 39.47% 18.80% 20.68% 20.80%; */
    /* grid-template-columns: 40.6% 18.80% 40.6%; */
    /* grid-auto-rows: 400px; */
    /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
    grid-gap: 0px;
    box-sizing: border-box;
    /* padding: 100px 0; */
    /* 갭은 픽셀로 주는게 좋다고 함 */

    grid-template-areas:
    'a a'
    'b b'
    'c c'
    'd d'
    'e e';
}
.member .clip_part {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 0;
}
.member .clip_part:nth-of-type(1) {
    grid-area: a;
}
.member .clip_part:nth-child(1)::before{
    content: '';
    width: 200%;
    height: 80%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part:nth-of-type(2) {
    grid-area: b;
}
.member .clip_part:nth-of-type(3) {
    grid-area: c;
}
.member .clip_part:nth-child(3)::before{
    content: '';
    width: 200%;
    height: 80%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(-5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part:nth-of-type(4) {
    grid-area: d;
}
.member .clip_part:nth-of-type(5) {
    grid-area: e;
}
.member .clip_part:nth-child(5)::before{
    content: '';
    width: 200%;
    height: 80%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 50%;
} 
.member .clip_part .contentArea {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 5;
}
.member .clip_part:nth-child(odd) .contentArea {
    flex-direction: row;
}
.member .clip_part:nth-child(even) .contentArea {
    flex-direction: row-reverse;
}
.member .clip_part .imgPart {
    position: relative;
    cursor: pointer;
    width: 50%;
}
.member .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}
.member .clip_part .contentArea dl {
    width: 60%;
    color: #000;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.member .clip_part .contentArea dt {
    font-size: 3.889em;
    line-height: 1em;
}
.member .clip_part .contentArea dd {
    font-size: 2.778em;
}
.member .clip_part .contentArea dd:nth-of-type(n+2) {
    font-size: 1.111em;
    font-family: 'Karla', sans-serif;
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    font-weight: 500;
}
.member .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}
.member .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}
.member .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

}

@media screen and (max-width:786px) {
}

@media screen and (max-width:640px) {

html{font-size: 16px;}

.trailer{
    padding: 80px 0;
}
.trailer .subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 3.750em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff;
}

.trailer .subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    height: 5px;
    transform: translate(-50%);
    background: #b34142;
}

.trailer .clip_part {
}

.trailer .clip_part .contentArea {
    position: relative;
    width: 80%;
    margin: 30px auto
}

.trailer .imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.trailer .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.trailer .clip_part .contentArea dl {
    color: #fff;
    text-align: center;

}
.trailer .clip_part .contentArea dt {
    color: #fff;
    font-size: 2.500em;
    font-family: 'Anton', sans-serif;
}
.trailer .clip_part .contentArea dd {
    color: #fff;
    font-size: 1.250em;
}
.trailer .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.trailer .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}

.trailer .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.member{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    /* grid-template-columns: 39.47% 18.80% 20.68% 20.80%; */
    /* grid-template-columns: 40.6% 18.80% 40.6%; */
    /* grid-auto-rows: 400px; */
    /* 이 값을 주면 높이가 고정이라 사진이 잘리고 안주면 평범한 유동 */
    grid-gap: 0px;
    box-sizing: border-box;
    /* padding: 100px 0; */
    /* 갭은 픽셀로 주는게 좋다고 함 */

    grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e';
}
.member .clip_part {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 0 50px 0;
}
.member .clip_part:nth-of-type(1) {
    grid-area: a;
}
.member .clip_part:nth-child(1)::before{
    content: '';
    width: 200%;
    height: 50%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 0%;
} 
.member .clip_part:nth-of-type(2) {
    grid-area: b;
}
.member .clip_part:nth-child(2)::before{
    content: '';
    width: 200%;
    height: 50%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(-5deg);
    left: -50%;
    top: 0%;
}
.member .clip_part:nth-of-type(3) {
    grid-area: c;
}
.member .clip_part:nth-child(3)::before{
    content: '';
    width: 200%;
    height: 50%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 0%;
} 
.member .clip_part:nth-of-type(4) {
    grid-area: d;
}
.member .clip_part:nth-child(4)::before{
    content: '';
    width: 200%;
    height: 50%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(-5deg);
    left: -50%;
    top: 0%;
}
.member .clip_part:nth-of-type(5) {
    grid-area: e;
}
.member .clip_part:nth-child(5)::before{
    content: '';
    width: 200%;
    height: 50%;
    background: rgba(179, 65, 66, .5);
    position: absolute;
    transform: rotate(5deg);
    left: -50%;
    top: 0%;
} 
.member .clip_part .contentArea {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 5;
    flex-direction: column;
    flex-wrap: wrap;
}
.member .clip_part:nth-child(odd) .contentArea {
    flex-direction: unset;
}
.member .clip_part:nth-child(even) .contentArea {
    flex-direction: unset;
}
.member .clip_part .imgPart {
    position: relative;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
}
.member .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}
.member .clip_part .contentArea dl {
    width: 100%;
    color: #000;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}
.member .clip_part .contentArea dt {
    font-size: 3.889em;
    line-height: 1em;
}
.member .clip_part .contentArea dd {
    font-size: 2.778em;
}
.member .clip_part .contentArea dd:nth-of-type(n+2) {
    font-size: 1.111em;
    font-family: 'Karla', sans-serif;
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    font-weight: 500;
}
.member .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}
.member .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}
.member .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}
}

@media screen and (max-width:480px) {

html{font-size: 14px;}

.clip_part .playBnt {
    width: 95px;
    height: 95px;
    margin: -48px 0 0 -48px
}
.clip_part .contentArea {
    width: auto
}
}