/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}
	
#content{ width:100%; margin:0; height:auto; background:rgba(0,0,0,.9); position: relative;  }
img{width: 100%; height: 100%; object-fit: cover;}
#content h2{position: absolute; top: -550px;
width: 100%; text-align: center; font-size: 8.333em; color: #fff;}
#content h3{font-size: 2.778em; font-family: 'Anton', sans-serif;}
#content h4{font-size: 2.778em; font-weight: 700;}

.grid-item, .grid-sizer{ width: 25%;}
.grid-item {
 margin-bottom: 5px;
 padding:10px;
 float: left;
 box-sizing: border-box;
 transition: all .5s;
}
.grid-item img{
    /* border-radius: 3%; */
    display: block;
    width:100%;margin: 10px 0;
    transition: all .5s;
    border: 1px solid #fff;
}
.grid-item:hover img{box-shadow: 1px 1px 10px 1px rgba(0,0,0,.7);}
.grid-item h4{text-align: center;
}
.grid-item p{text-align: center;
}

#content .grid-sizer:hover .grid-item{filter: brightness(.5);}
#content .grid-sizer .grid-item:hover{filter: brightness(1);}
#content .grid-sizer .grid-item:hover img{scale: .98;}
#content .grid-sizer .grid-item:hover div{opacity: 1;}

/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {

html{font-size: 16px;}

#content h2{position: absolute; top: -550px;
width: 100%; text-align: center; font-size: 6.944em; color: #fff;}

.grid-item, .grid-sizer{ width: 33.33%;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	
}

/* 모바일 */
@media screen and (max-width:640px) {

html{font-size: 14px;}

.grid-item, .grid-sizer{ width: 50%;}

}
